<div id="main">
  TRUTH
</div>

<script id="appViewTemplate" type="html/template">
  <h1>Truth</h1>

  <div id="messageForm">
    Textarea view loads here
  </div>

  <ul id="messages">
  </ul>
</script>

<script id="messageInputViewTemplate" type="html/template">
  <textarea placeholder="Write A Message ..."></textarea>
  <hr>
  <button>Submit</button>

</script>
