<div id="main">
  TRUTH
</div>
<script id="appViewTemplate" type="html/template">
  <div id="slide-out" class="side-nav indigo darken-1 fixed">
    <a href="#" class="button-collapse show-on-large"><i class="material-icons">settings_ethernet</i></a>
    <h1 class="indigo-text text-lighten-5 center">Truth</h1>
    <div id="dateTime">
      <div id="timeYo" class="indigo-text text-lighten-5">13:01</div>
      <div id="date">
        <h5 id="dayName" class="indigo-text text-lighten-3">Wednesday</h5>
        <h5 id="dayDate" class="indigo-text text-lighten-5">22 June</h5>
      </div>
    </div>
    <ul class="groups">
      <li><a href="#!"><i class="material-icons right">person_pin</i>Profile</a></li>
      <ul class="dropdown"><a href="#!"><i class="material-icons right">loyalty</i>Groups</a>
        <li><a href="#">Group 1</a></li>
        <li><a href="#">Group 2</a></li>
      </ul>
      <li><a href="#!"><i class="material-icons right">power_settings_new</i>Log Out</a></li>
    </ul>
  </div>

  <div id="messageForm">
  </div>

  <ul id="messages">
  </ul>
</script>

<script id="messageInputViewTemplate" type="html/template">
  <textarea placeholder="Write A Message ..."></textarea>
  <hr>
  <button>Submit</button>

</script>

<input type="hidden" id="user_name" value="<%= @current_user.name %>">
<input type="hidden" id="user_id" value="<%= @current_user.id %>">
<input type="hidden" id="user_target" value="<%= @current_user.target %>">
