// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  background: rebeccapurple;
}

#main {
  max-width: 960px;
  width: 80%;
  margin: 0 auto;
  background: white;
  padding: 20px;
  text-align: center;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

textarea {
  display: block;
  width: 90%;
  margin: 0 auto;
  height: 50px;
}

button {
  border: 10px solid gainsboro;
  background: none;
  padding: 10px 20px;
  margin: 10px 0;
}

li {
  margin: 10px auto;
}
