.side-nav {
  width: 400px;
}

.side-nav.fixed {
  overflow: scroll;
  transition: transform 1s;
}

.side-nav.fixed ul li a {
  color: #e8eaf6;
}

.side-nav.fixed.slideIn {
  transform: translateX(-320px);
}

.button-collapse {
  display: inline !important;
  position: absolute;
  right: 0;
  margin-top: 29px;
  padding-top: 7px !important;
}

.button-collapse i {
  color: #e8eaf6;
}

#chat {
  min-height: 100vh;
  padding-left: 404px;
  padding-right: 204px;
  transition: all 1s;
}

#chat.chatSlide {
  padding-left: 84px;
}

#chat.chatSlideRight {
  padding-right: 84px;
}

i.right {
  line-height: 60px;
}

.side-nav.fixed ul.dropdown a {
  color: #e8eaf6;
}

.side-nav.fixed ul ul.dropdown li a {
  color: #9fa8da;
  margin-left: 60px;
}


.right-side-nav {
  width: 200px;
  right: 0;
  top: 0;
  height: 100vh;
}

.right-side-nav.fixed {
  overflow: scroll;
  position: fixed;
  transition: transform 1s;
}

.right-side-nav.fixed.rightSlideIn {
  transform: translateX(120px);
}

.right-side-nav.fixed ul li a {
  color: #e8eaf6;
}

.right-side-nav.fixed a {
  padding: 0 30px;
}

.right-side-nav a {
  color: #444;
  display: block;
  font-size: 1rem;
  height: 64px;
  line-height: 64px;
  padding: 0 30px;
}

.right-side-nav a:hover {
  background-color: #c5cae9;
}

.right-button-collapse {
  display: inline !important;
  position: absolute;
  left: 0;
  margin-top: 29px;
  padding-top: 7px !important;
}

h1 {
  font-weight: 100;
  margin-bottom: 50px;
  text-align: center;
}

h4 {
  font-weight: 300;
  text-align: right;
  padding: 26px 30px 0 0;
}

h5 {
  font-weight: 300;
  margin: 0;
  font-size: 19px;
}

#right-slide-out ul li {
  text-align: right;
  padding: 2px 30px;
}

.groups {
  margin-top: 30px;
}

#messages {
  display: flex;
  flex-flow: column-reverse wrap;
  margin: 0 0 120px 0;
}

#messages li {
  min-height: 100px;
  margin-top: 2px;
  display: flex;
  align-items: center;
}

.yours {
  margin-left: 0;
  border-radius: 5px 0 0 5px;
  display: flex;
  flex-direction: row-reverse;
}

.others {
  margin-right: 0;
  border-radius: 0 5px 5px 0;
  display: flex;
  flex-direction: row;
}

.thumb {
  border-radius: 5px;
  height: 100%;
}

.yours .content {
  flex-grow: 2;
  margin: auto 2px;
  border-radius: 5px;
  padding-right: 10px;
  background-image: url("arrow2.png");
  background-size: 15px;
  background-position: right center;
  background-repeat: no-repeat;
}

.others .content {
  flex-grow: 2;
  margin: auto 2px;
  border-radius: 5px;
  padding-left: 10px;
  background-image: url("grey-arrow-2.png");
  background-size: 15px;
  background-position: left center;
  background-repeat: no-repeat;
  text-align: right;
}

.round {
  border-radius: 5px;
  padding: 0 10px;
  min-height: 100px;
  display: flex;
  align-items: center;
}

.others .content .round {
  justify-content: flex-end;
}

#dateTime {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#date {
  flex-grow: 1;
  align-content: center;
  margin-top: -3px;
}

#timeYo {
  flex-grow: 1;
  font-size: 48px;
  font-weight: 300;
  text-align: right;
  align-self: center;
}

#dayName {
  align-self: center;
}

#dayDate {
  align-self: center;
}

#messageForm {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid #9e9e9e;
}

#messageForm i.right {
  line-height: inherit;
}

#messageForm button {
  margin-bottom: 5px;
}

.side {
  background-color: white;
  border-radius: 5px;
  height: 100%;
  width: 10px;
  position: absolute;
}

@media only screen and (min-width: 1000px) {
  .yours {
    margin-left: 52% !important;
    border-radius: 5px 0 0 5px;
    display: flex;
    flex-direction: row-reverse;
  }

  .others {
    margin-right: 52%;
    border-radius: 0 5px 5px 0;
    display: flex;
    flex-direction: row;
  }
}


@media only screen and (max-width: 992px) {
  .side-nav.fixed {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    width: 250px;
  }

  #dateTime {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
  }

  #timeYo {
    align-self: auto;
  }

  h1 {
    text-align: left;
    padding-left: 30px;
  }

  #chat {
    padding-left: 254px;
  }

  #chat.chatSlide {
    padding-left: 84px;
  }

  .side-nav.fixed.slideIn {
    transform: translateX(-170px);
  }
}
